
html, body {
  overflow-y: auto !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #454545;
}


